.App {
  text-align: center;
}

.buses-wrapper {
  border: solid red 1px;
  margin: 40px auto;
  padding: 50px 100px;
}

.bus-wrapper:first-child {
  border-top: 1px solid darkgray;
}

.bus-wrapper {
  position: relative;
  height: 50px;
  margin: auto;
  border-bottom: 1px solid darkgray;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
}

p {
  margin: 0;
  padding: 0;
}
