.App {
  text-align: center;
}

.buses-wrapper {
  border: solid red 1px;
  margin: 40px auto;
  padding: 50px 80px;
}

.bus-wrapper {
  position: relative;
  height: 50px;
  width: 1440px;
  margin: auto;
  border-bottom: 1px solid darkgray;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
}
